<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level \(%F:%L\) - %msg%n</pattern>
		</layout>
	</appender>

    <!-- 
	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logback.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>logback.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%-20(%d{HH:mm:ss.SSS} [%thread]) %-5level %logger{80}\(%F:%L\) - %msg%n</pattern>
		</layout>
	</appender>
	-->

	<logger name="com.humpic" level="DEBUG" />
	<logger name="jetbrick" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="stdout" />
	</root>

</configuration>